/*
nav * {
    
}

a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav {
    width: 100%;
    height: max(5vh, min( 4.5vw, min(10vw, 3rem)));
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 clamp(0rem, 3%, 5rem);
}

.nav-logo {
    flex: 1.5 1.5 auto;
    font-size: min(1.6rem, 2.4vw);
    font-weight: 600;
    color: rgb(0, 0, 0);

}

.nav-links, .nav-auth {
    display: flex;
    align-items: center;
    list-style: none;

}

.nav-links {
    flex: 3 1 auto;
    justify-content: center;
}

.nav-links li {
    font-weight: 800;
}

.nav-auth {
    flex: 1.5 1 auto;
    justify-content: flex-end;
}

.nav-container li {
    padding: 0 clamp(0.5rem, 5%, 5rem);
    font-size: min(1rem, 1.5vw);
    color: rgb(0, 0, 0)
}
*/