:root {
    --base-unit: 1vw;
}

.wardrobe-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.wardrobe-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: calc(0.625 * var(--base-unit)) calc(1.25 * var(--base-unit)); /* 10px 20px */
}

.wardrobe-card-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.wardrobe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(15.625 * var(--base-unit)); /* 250px */
    aspect-ratio: 3/4;
    margin: calc(1.25 * var(--base-unit)); /* 20px */
    background-color: white;
    border: calc(0.0625 * var(--base-unit)) solid rgba(0, 0, 0, 0.1); /* 1px */
    border-radius: calc(0.625 * var(--base-unit)); /* 10px */
    box-shadow: 0 calc(0.125 * var(--base-unit)) calc(0.25 * var(--base-unit)) rgba(0,0,0,0.1); /* 2px 4px */
}

.card-image {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: calc(0.625 * var(--base-unit)) calc(0.625 * var(--base-unit)) 0 0; /* 10px */
}

.card-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 25%;
}

.card-button, .card-description, .card-status {
    width: 100%;
}

.card-description {
    width: 100%;
    font-size: calc(1.5 * var(--base-unit)); /* 1.5rem */
    font-weight: 600;
    text-align: center;
    padding-top: calc(0.625 * var(--base-unit)); /* 10px */
    padding-bottom: calc(0.3125 * var(--base-unit)); /* 5px */
}

.card-status {
    width: 100%;
    text-align: center;
    font-size: calc(0.875 * var(--base-unit));
    padding-bottom: calc(0.625 * var(--base-unit)); /* 10px */
}

.card-button-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

/* Add responsive limits */
@media (min-width: 1600px) {
    :root {
        --base-unit: 16px;
    }
}

@media (max-width: 768px) {
    :root {
        --base-unit: 2vw;
    }
    
    .wardrobe-card {
        width: calc(20 * var(--base-unit));
    }
}