<html>
    <head>
        <title>New Clothes!</title>
    </head>
    <body>
        <h1>New Clothes!</h1>
        <form action="/wardrobe/new" method="POST" enctype="multipart/form-data">
            <label for="file">Upload the image of the new clothing:</label>
            <input
                type="file"
                id="newClothingImage"
                name="newClothingImage"
                accept=".jpg, .jpeg, .png"
                required
            />
            <label for="description">Name/Description:</label>
            <input type="text" name="description" id="description" required />
            <label for="category">Category:</label>
            <input type="text" name="category" id="category" required />
            <button type="submit">Add new clothing to the wardrobe!</button>
        </form>
        <a href="/wardrobe">Back to Wardrobe</a>
    </body>
</html>
